<!doctype html>
<html lang="en" ng-app="eye">
  <base href="/eye/">
  <head>
    <title>Scenic Arc</title>
    <link rel="stylesheet" href="/static/css/screen.css" type="text/css">
  </head>

  <body>

    <div ng-view></div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-route.min.js"></script>
    <script src="/static/lib/moment.min.js"></script>
    <script src="/static/js/arc.js"></script>
  </body>
</html>
