body {
    font-family: verdana;
}

table tbody th {
    text-align: left;
}

.event {
    float: left;
}

.event .ts {
    display: block;
    font-size: small;
}

.event img {
    width: 320px;
}

#video {
    z-index: 9999;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.9);
}

#player {
    margin: auto;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#closer {
    font-size: x-large;
    font-weight: bold;
    color: white;
    position: absolute;
    right: 0;
    top: 0;
}
